body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #fcfbfb;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.logo{
    max-height: 100px;
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

nav  ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff
}

main {
    padding: 2rem;
    max-width: 960px;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #333;
    color: #fff;
}